<h2>Hello, internet friend! 👋</h2>

<p>
  I'm <strong><a href="https://keybase.io/agentofuser">@agentofuser</a></strong
  >, a <strong>frontend engineer</strong> and
  <strong>distributed librarian</strong> learning about @Brave, @IPFSbot, and
  #PrivacyTech on the #DWeb. Welcome to my website!
</p>

<p>
  As you can see, it's still pretty bare-bones, but a friend insisted I had a
  way for him to support me using the Brave browser, so here it is.
</p>

<p>
  As I learn how to properly use Hakyll though you'll hopefully see more useful
  material here about publishing, reading, and preserving knowledge on the Web
  with privacy and agency.
</p>

<p>
  I plan to write about privacy-preserving technologies, metadata resistance,
  nextgen-browser things, hashlinked infosystems, and web archiving.
</p>

<p>
  I'm no expert on any of those things, but I believe in learning in the open
  and sharing
  <a href="https://gitlab.com/agentofuser/friction-log">the fails</a> and the
  wins.
</p>

<p>
  I'm on
  <a
    href="https://viewer.heropunch.io/@/6Xvv3L7eYrQDsJQQkhcxf1G8xaP9HIj4LDqAJmYXyw=.ed25519"
    >scuttlebutt</a
  >
  and <a href="https://twitter.com/agentofuser">twitter</a>. Say hi!
</p>
